/* This part is complete*/
body { /*Assign a global font family, Change the background color for the body element to a light grey color.*/
  font-family: Arial, sans-serif;
  background-color: rgba(209, 208, 208, 0.993)
}


/*this part is complete*/
h2, p, .readme-wrapper { /*Use a multiple selector rule set to center the text for all h2, p, and a elements.*/
    text-align: center;
}

/* This part is complete*/
a { /*Use an element selector to remove the default underline styles for anchor tags and change the font color.*/
    text-decoration-line: none;
    color: rgb(238, 255, 0);
}


/* This part is complete*/
a:hover { /*cursor changes to a pointer, the font is bold, and text color changes.*/
    cursor: pointer;
    font-weight: bold;
    color: orchid;
}

/* This part is complete*/
span { /*Wrap a single word in each paragraph element inside of a span element and assign it a new font color and font weight.*/
    color: teal;
    font-weight: bold;
}

/* This part is complete*/
.boxes { /*add margin, add padding, add a solid border with a custom color, add a border radius to round the edges of the border, add a width of 30em*/
    margin: 2em;
    padding: 2em;
    border: .75em;
    border-style: solid;
    border-color: royalblue;
    border-radius: 2em;
    width: 30em;
}

/* This part is complete*/
#box1 { /*Use an id selector to add a unique background color to each div.*/
    background-color: rgb(136, 230, 176);
}
#box2 { /*Use an id selector to add a unique background color to each div.*/
    background-color: rgb(4, 207, 92);
}
#box3 { /*Use an id selector to add a unique background color to each div.*/
    background-color: seagreen;
}
#box4 { /*Use an id selector to add a unique background color to each div.*/
    background-color: rgb(49, 66, 56);
}